.dot {
  width: 22px;
  height: 22px;
  background: #ff3bff;
  border-radius: 50px;
}
.line hr{
  color: #ddd;
  width: 300px;
  margin-top: 20px;
}
.line div{
  background-color: #f00;
  height:20px;
  width:4px;
  margin-top: 3px;
}